.DIV1 {
	position	: absolute;
	left		: 200;
	top			: 100;
	height		: 200;
	width 		: 100;
	visibility	: visible;
	border		: 10;
	border-style: groove;
	overflow	: auto;
	margin		: 0px;
	padding		: 0px;
	z-index		: 2;
}
.DIV2 {
	width 		: 300;
	background-color: gray;
}